body{
    background-color: #FFFFFF;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px;
}


#barratopo{
    height: 80px;
    background: #79848e;
    position: inherit;
    width: 100%;

}

p {
    text-align: center;
    font-size: 18px; 
}



#head {
   border: 0;
   margin: 0;
   padding: 0;
   font-size: 100%;

}

#menu {
    float: left;
    width: 100%;
    position: relative;
    padding: 0;

}

#menu ul li {
    display: inline;
}


#slides {
    background-color: #26bdef;
    height: 280px;
    font-style: inherit;
    color: #FFFFFF;
    font-size: 30px;
    text-align: justify;
    position: inherit;
    padding: 0px 50px;
 
}

#news{
    width: auto;
    height: 70px;
    position: relative;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    background-color: #26bdef;
    font-size: 100%;

}

.conteudo{
    text-align: left;
    margin-left: 3%;
    font-size: 10px;

   
}

#rodapebarra{
    height: 80px;
    background: #79848e;
    z-index: 99999;
    position: inherit;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: #79848e;
    color: #FFFFFF;
    height: 400px;
    font-size: 10pt;

}


@media screen and (max-width: 480px){
    #slides p {
        font-size: 10px;
    }
     
}

@media screen and (max-width: 786px){
    #slides p{
        font-size: 14px;
    }


}

@media screen and (max-width: 1170px){


}